.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(135deg,
            #0f172a,
            #1e293b);
    color: white;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hero button {
    background: #38bdf8;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
}